<div class="question ranking" id="S2_div">
    <div class="question_body indent">
        <div class="question_text">
            <div id="question_text">sırala</div>
        </div>
        <table class="inner_table">
            <tbody>
                <tr>
                    <td valign="top" align="left">
                        <table>
                            <tbody>
                                <tr>

                                    <td class="input_cell">
                                        <span class="test_label test_var_label">S2_1</span>
                                        <input type="tel" class="numeric_input" name="S2_1" size="1" id="S2_1" tabindex="77">
                                    </td>
                                    <td class="option_cell">
                                        <div class="options">Turkcell</div>
                                    </td>

                                </tr>
                                <tr>

                                    <td class="input_cell">
                                        <span class="test_label test_var_label">S2_2</span>
                                        <input type="tel" class="numeric_input" name="S2_2" size="1" id="S2_2" tabindex="83">
                                    </td>
                                    <td class="option_cell">
                                        <div class="options">avea</div>
                                    </td>

                                </tr>
                                <tr>

                                    <td class="input_cell">
                                        <span class="test_label test_var_label">S2_3</span>
                                        <input type="tel" class="numeric_input" name="S2_3" size="1" id="S2_3" tabindex="89">
                                    </td>
                                    <td class="option_cell">
                                        <div class="options">vodafone</div>
                                    </td>

                                </tr>
                                <tr>

                                    <td class="input_cell">
                                        <span class="test_label test_var_label">S2_4</span>
                                        <input type="tel" class="numeric_input" name="S2_4" size="1" id="S2_4" tabindex="95">
                                    </td>
                                    <td class="option_cell">
                                        <div class="options">bimcell</div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        <input type="hidden" name="hid_list_S2" value="1,2,3,4">
    </div>
</div>