<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <style>
        .question_body {
            display: none;
        }

    </style>
</head>
<body>

<div class="container">
<div class="question grid" id="S6_div">
    <div class="header2">
        <b>6. </b>Yine bu reklamı düşünerek, aşağıdaki ifadelere katılıp katılmadığınızı söyler misiniz lütfen?
    </div>
    <div class="question_body">
        <table class="inner_table" width="100%">
            <tbody>
                <tr class="column_header_row">
                    <td class="corner_label_cell  alt_color1" width="100%">&nbsp;</td>
                    <td class="col_label_cell alt_color1 grid_c1 S6_c1" width="0%">
                        <div class="grid_options">Kesinlikle Katılıyorum</div>
                    </td>
                    <td class="col_label_cell alt_color1 grid_c2 S6_c2" width="0%">
                        <div class="grid_options">Biraz Katılıyorum</div>
                    </td>
                    <td class="col_label_cell alt_color1 grid_c3 S6_c3" width="0%">
                        <div class="grid_options">Ne katılıyorum, ne katılmıyorum</div>
                    </td>
                    <td class="col_label_cell alt_color1 grid_c4 S6_c4" width="0%">
                        <div class="grid_options">Pek Katılmıyorum</div>
                    </td>
                    <td class="col_label_cell alt_color1 grid_c5 S6_c5" width="0%">
                        <div class="grid_options">Hiç Katılmıyorum</div>
                    </td>
                </tr>
                <tr id="S6_r1_row" class="grid_row1">
                    <td class="row_label_cell alt_color2 grid_r1 S6_r1" width="100%">
                        <div class="grid_options">Başkalarıyla hakkında konuşacağım türde bir reklamdır.</div>
                    </td>
                    <td class="input_cell clickable alt_color2 grid_r1 grid_c1 S6_r1" width="0%" nowrap="">
                        <input name="S6_r1" value="1" type="radio" id="S6_r1_1" class="HideElement">
                        <div id="S6_r1_1_graphical" class="graphical_select radiobox" tabindex="87"></div>
                    </td>
                    <td class="input_cell clickable alt_color2 grid_r1 grid_c2 S6_r1" width="0%" nowrap="">
                        <input name="S6_r1" value="2" type="radio" id="S6_r1_2" class="HideElement">
                        <div id="S6_r1_2_graphical" class="graphical_select radiobox" tabindex="91"></div>
                    </td>
                    <td class="input_cell clickable alt_color2 grid_r1 grid_c3 S6_r1" width="0%" nowrap="">
                        <input name="S6_r1" value="3" type="radio" id="S6_r1_3" class="HideElement">
                        <div id="S6_r1_3_graphical" class="graphical_select radiobox" tabindex="95"></div>
                    </td>
                    <td class="input_cell clickable alt_color2 grid_r1 grid_c4 S6_r1" width="0%" nowrap="">
                        <input name="S6_r1" value="4" type="radio" id="S6_r1_4" class="HideElement">
                        <div id="S6_r1_4_graphical" class="graphical_select radiobox" tabindex="99"></div>
                    </td>
                    <td class="input_cell clickable alt_color2 grid_r1 grid_c5 S6_r1" width="0%" nowrap="">
                        <input name="S6_r1" value="5" type="radio" id="S6_r1_5" class="HideElement">
                        <div id="S6_r1_5_graphical" class="graphical_select radiobox" tabindex="103"></div>
                    </td>
                </tr>
                <tr id="S6_r2_row" class="grid_row2">
                    <td class="row_label_cell alt_color1 grid_r2 S6_r2" width="100%">
                        <div class="grid_options">Bu reklam Vodafone’u benim için daha cazip hale getirdi.</div>
                    </td>
                    <td class="input_cell clickable alt_color1 grid_r2 grid_c1 S6_r2" width="0%" nowrap="">
                        <input name="S6_r2" value="1" type="radio" id="S6_r2_1" class="HideElement">
                        <div id="S6_r2_1_graphical" class="graphical_select radiobox" tabindex="110"></div>
                    </td>
                    <td class="input_cell clickable alt_color1 grid_r2 grid_c2 S6_r2" width="0%" nowrap="">
                        <input name="S6_r2" value="2" type="radio" id="S6_r2_2" class="HideElement">
                        <div id="S6_r2_2_graphical" class="graphical_select radiobox" tabindex="114"></div>
                    </td>
                    <td class="input_cell clickable alt_color1 grid_r2 grid_c3 S6_r2" width="0%" nowrap="">
                        <input name="S6_r2" value="3" type="radio" id="S6_r2_3" class="HideElement">
                        <div id="S6_r2_3_graphical" class="graphical_select radiobox" tabindex="118"></div>
                    </td>
                    <td class="input_cell clickable alt_color1 grid_r2 grid_c4 S6_r2" width="0%" nowrap="">
                        <input name="S6_r2" value="4" type="radio" id="S6_r2_4" class="HideElement">
                        <div id="S6_r2_4_graphical" class="graphical_select radiobox" tabindex="122"></div>
                    </td>
                    <td class="input_cell clickable alt_color1 grid_r2 grid_c5 S6_r2" width="0%" nowrap="">
                        <input name="S6_r2" value="5" type="radio" id="S6_r2_5" class="HideElement">
                        <div id="S6_r2_5_graphical" class="graphical_select radiobox" tabindex="126"></div>
                    </td>
                </tr>
                <tr id="S6_r3_row" class="grid_row3">
                    <td class="row_label_cell alt_color2 grid_r3 S6_r3" width="100%">
                        <div class="grid_options">Bu reklamı izlemekten hoşlandım.</div>
                    </td>
                    <td class="input_cell clickable alt_color2 grid_r3 grid_c1 S6_r3" width="0%" nowrap="">
                        <input name="S6_r3" value="1" type="radio" id="S6_r3_1" class="HideElement">
                        <div id="S6_r3_1_graphical" class="graphical_select radiobox" tabindex="133"></div>
                    </td>
                    <td class="input_cell clickable alt_color2 grid_r3 grid_c2 S6_r3" width="0%" nowrap="">
                        <input name="S6_r3" value="2" type="radio" id="S6_r3_2" class="HideElement">
                        <div id="S6_r3_2_graphical" class="graphical_select radiobox" tabindex="137"></div>
                    </td>
                    <td class="input_cell clickable alt_color2 grid_r3 grid_c3 S6_r3" width="0%" nowrap="">
                        <input name="S6_r3" value="3" type="radio" id="S6_r3_3" class="HideElement">
                        <div id="S6_r3_3_graphical" class="graphical_select radiobox" tabindex="141"></div>
                    </td>
                    <td class="input_cell clickable alt_color2 grid_r3 grid_c4 S6_r3" width="0%" nowrap="">
                        <input name="S6_r3" value="4" type="radio" id="S6_r3_4" class="HideElement">
                        <div id="S6_r3_4_graphical" class="graphical_select radiobox" tabindex="145"></div>
                    </td>
                    <td class="input_cell clickable alt_color2 grid_r3 grid_c5 S6_r3" width="0%" nowrap="">
                        <input name="S6_r3" value="5" type="radio" id="S6_r3_5" class="HideElement">
                        <div id="S6_r3_5_graphical" class="graphical_select radiobox" tabindex="149"></div>
                    </td>
                </tr>
                <tr id="S6_r4_row" class="grid_row4">
                    <td class="row_label_cell alt_color1 grid_r4 S6_r4" width="100%">
                        <div class="grid_options">Bu reklam beni Vodafone’a geçmeye ikna eti.</div>
                    </td>
                    <td class="input_cell clickable alt_color1 grid_r4 grid_c1 S6_r4" width="0%" nowrap="">
                        <input name="S6_r4" value="1" type="radio" id="S6_r4_1" class="HideElement">
                        <div id="S6_r4_1_graphical" class="graphical_select radiobox" tabindex="156"></div>
                    </td>
                    <td class="input_cell clickable alt_color1 grid_r4 grid_c2 S6_r4" width="0%" nowrap="">
                        <input name="S6_r4" value="2" type="radio" id="S6_r4_2" class="HideElement">
                        <div id="S6_r4_2_graphical" class="graphical_select radiobox" tabindex="160"></div>
                    </td>
                    <td class="input_cell clickable alt_color1 grid_r4 grid_c3 S6_r4" width="0%" nowrap="">
                        <input name="S6_r4" value="3" type="radio" id="S6_r4_3" class="HideElement">
                        <div id="S6_r4_3_graphical" class="graphical_select radiobox" tabindex="164"></div>
                    </td>
                    <td class="input_cell clickable alt_color1 grid_r4 grid_c4 S6_r4" width="0%" nowrap="">
                        <input name="S6_r4" value="4" type="radio" id="S6_r4_4" class="HideElement">
                        <div id="S6_r4_4_graphical" class="graphical_select radiobox" tabindex="168"></div>
                    </td>
                    <td class="input_cell clickable alt_color1 grid_r4 grid_c5 S6_r4" width="0%" nowrap="">
                        <input name="S6_r4" value="5" type="radio" id="S6_r4_5" class="HideElement">
                        <div id="S6_r4_5_graphical" class="graphical_select radiobox" tabindex="172"></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="hid_row_list_S6" value="1,2,3,4">

        <input type="hidden" name="hid_col_list_S6" value="1,2,3,4,5">

    </div>
</div>

</div>

<script src="//unpkg.com/jquery"></script>
<script src="//surveyjs.azureedge.net/1.0.18/survey.jquery.js"></script>
<link href="//surveyjs.azureedge.net/1.0.18/survey.css" type="text/css" rel="stylesheet"/>
<script src="/lib/girdSingle.js"></script>
<link href="/lib/surveyjs.custom.css" type="text/css" rel="stylesheet"/>

<script>
    $('.question_body').gridSingle({
        show_choice_labels: false,
        theme: 'darkrose'
    });
</script>

</body>
</html>
