<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>

    <!-- Sawtooth Software Web Interviewing System - SSI Web 8_4_8 -->
    <!-- Copyright Sawtooth Software, Inc. 1998-2015 - www.sawtoothsoftware.com - USA - (801) 477-4700 -->

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script type="text/javascript" src="ciwweb_files/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="ciwweb_files/jquery-ui-1.8.17.min.js"></script>
    <script type="text/javascript" src="ciwweb_files/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="ciwweb_files/ssi_javascript8_4_8.js"></script>
    <link rel="stylesheet" type="text/css" href="ciwweb_files/jquery-ui-1.8.17.custom.css">

    <link rel="stylesheet" type="text/css" href="ciwweb_files/ssi_style8_4_8.css">

</head>

<body>
    <form name="mainform" onsubmit="SSI_SubmitMe(); return false;" method="post" action="http://127.0.0.1:8000/templates/radio.html">

<div class="page" id="page">
<input type="hidden" name="hid_backup" value="wizvr01,12,902891166,2,1">
<input type="hidden" name="hid_studyname" value="wizvr01">
<input type="hidden" name="hid_respnum" value="12,902891166">
<input type="hidden" name="hid_s" value="Af8AANcH_G1x5cAR_R4j_fN9xOYnAAAA5yvFXUPd-SDMKBXRwk_9yuYyzlhD0_cnxSkPzMFR9MpOnmX06HxZiGRpSoeFD_TX">
<input type="hidden" name="hid_pagenum" value="2">
<input type="hidden" name="hid_javascript" value="0">
<input type="hidden" name="hid_previous" value="0">
<div class="page_header">
</div>
<div id="error_box" class="page_error error_messages HideElement"></div>
<div class="question select" id="S0_div">
<div class="question_body indent">
<div class="question_text">Projemize destek verdiğin için teşekkür ederiz. Verdiğin bilgiler, anonim hale getirilerek araştırma ve istatistik gibi amaçlarla kullanılacaktır. Kişisel bilgilerin araştırma raporunun içinde yer almayacaktır. Araştırmayı bitirdikten sonra bilgilerini girerek 1 ay geçerli 4 GB internet kazanabilirsin. <br> <br> <b>Kabul ediyor musun?</b> </div>
<table class="inner_table"><tbody><tr><td valign="top" align="left">
<table>
<tbody><tr class="clickable"><td class="input_cell">
<input name="S0" value="1" type="radio" id="S0_1" class="HideElement">
<div id="S0_1_graphical" class="graphical_select radiobox" tabindex="26"></div></td><td class="option_cell"><div class="options"><label for="S0_1">Evet</label></div></td></tr><tr class="clickable"><td class="input_cell">
<input name="S0" value="2" type="radio" id="S0_2" class="HideElement">
<div id="S0_2_graphical" class="graphical_select radiobox" tabindex="33"></div></td><td class="option_cell"><div class="options"><label for="S0_2">Hayır</label></div></td></tr></tbody></table></td>
</tr></tbody></table>

<input type="hidden" name="hid_list_S0" value="1,2">
</div>
</div>

<input type="hidden" name="hid_q_S0" value="S0">

<input type="hidden" name="hid_prev_S0" value="4,S0,2,8570c5210dd5dcda950b4606bdeb3fce">


<script type="text/javascript">
var GlobalQuestHash = 0;
var strGlobalError_missing = "A response is required.  [%ERRTEXT()%]";
var strGlobalError_page_error = "An error has occurred on this page.  Please fix this error and try again.";

var blnGlobalCommaForDecimal = false;
function SSI_Verify(){
SSI_InitializeErrors();
SSI_RadCheck("S0","S0", "", 1, true);
SSI_RemoveErrors();
return SSI_ShowErrors();
}

</script>
<input type="hidden" name="hid_pagetime" value="1525267687">

<div class="submit_div">
<div id="previous">
<input type="submit" id="invisible_submit" value="Next" tabindex="-1" style="width: 0px; height: 0px; border: none; padding: 0px; font-size: 0px;">
<button name="sys_previous_button" id="previous_button" class="graphical_previous_button"></button></div>
<div id="next">
<button name="sys_next_button" id="next_button" class="graphical_next_button"><div id="page_submit_msg" class="new_tooltip">Submit this page to apply the Test Options set above.</div></button></div>
</div>
<div class="progress_bar">
<table class="progress_bar_table"><tbody><tr>
<td class="left_cell">0%</td><td class="middle_cell">
<div class="progress_bar_outer">
<div class="progress_bar_inner" style="width: 5%"></div></div>
</td><td class="right_cell">100%</td></tr></tbody></table></div><div class="page_footer">

</div>


<script type="text/javascript">
function SSI_Initialize(){
SSI_PageInitialize();
SSI_InitializeErrors();
SSI_GraphicalSubmitInitialize();
GlobalGraphicalSelect = true;
SSI_ClickableInitialize(true);
SSI_List_EventSetup("S0_*", [1,2], []);SSI_SetupToolTips();
}

jQuery(document).ready(function(){SSI_Initialize();});


</script>

</div>
</form>
    <span id="preload_images"></span>
    <div id="submit_overlay">
        <div id="submit_progress_bar"><img src="ciwweb_files/grey_loading.gif" border="0" alt="Loading..."></div>
    </div>


    <!-- Implement Code -->
    <link rel="stylesheet" type="text/css" href="//unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/radio.css">
    <script src="//unpkg.com/jquery"></script>
    <script src="//unpkg.com/underscore"></script>
    <script src="//unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/radio.js"></script>
    <script>
        $('.question_body').radio();
    </script>


</body>

</html>