<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>

    <!-- Sawtooth Software Web Interviewing System - SSI Web 8_4_8 -->
    <!-- Copyright Sawtooth Software, Inc. 1998-2015 - www.sawtoothsoftware.com - USA - (801) 477-4700 -->

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script type="text/javascript" src="ciwweb_files/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="ciwweb_files/jquery-ui-1.8.17.min.js"></script>
    <script type="text/javascript" src="ciwweb_files/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="ciwweb_files/ssi_javascript8_4_8.js"></script>
    <link rel="stylesheet" type="text/css" href="ciwweb_files/jquery-ui-1.8.17.custom.css">

    <link rel="stylesheet" type="text/css" href="ciwweb_files/ssi_style8_4_8.css">

</head>

<body>
    <form name="mainform" onSubmit="SSI_SubmitMe(); return false;" method="post" action="ciwweb.pl?hid_s=Af8AAKM5Kjywolp8IdoziMwPnockAAAAkxUfC4WTbk0T4gOk9COvspEMGgiGm2hFDegfuOB49_1v9ebwfG6WsO0W_0S6fa62">

        <div class="page" id="page">
            <input type="hidden" name="hid_backup" value="wizvr01,2,575141280,19,1">
            <input type="hidden" name="hid_studyname" value="wizvr01">
            <input type="hidden" name="hid_respnum" value="2,575141280">
            <input type="hidden" name="hid_s" value="Af8AAKM5Kjywolp8IdoziMwPnockAAAAkxUfC4WTbk0T4gOk9COvspEMGgiGm2hFDegfuOB49_1v9ebwfG6WsO0W_0S6fa62">
            <input type="hidden" name="hid_pagenum" value="19">
            <input type="hidden" name="hid_javascript" value="0">
            <input type="hidden" name="hid_previous" value="0">
            <div class="page_header">
            </div>
            <div id="error_box" class="page_error error_messages HideElement"></div>
            <div class="question select" id="S15_div">
                <div class="header2">
                    <font size="" color="#ff0000">Ekin bu tek cevap ama her soru cinsi için hem çok cevap hem tek cevap için text kutusu olabiliyor bazı seçenekler için.</font>
                </div>
                <div class="question_body indent">
                    <div class="question_text"><b>15.</b> League of Legends (LoL) Şampiyonlar Ligi’nin ana sponsoru sizce hangi markadır? </div>
                    <table class="inner_table">
                        <tr>
                            <td valign="top" align="left">
                                <table>
                                    <tr class="clickable">
                                        <td class="input_cell">
                                            <input name="S15" value="1" type="radio" id="S15_1" class="HideElement">
                                            <div id="S15_1_graphical" class="graphical_select radiobox"></div>
                                        </td>
                                        <td class="option_cell">
                                            <div class="options"><label for="S15_1">Vodafone</label></div>
                                        </td>
                                    </tr>
                                    <tr class="clickable">
                                        <td class="input_cell">
                                            <input name="S15" value="2" type="radio" id="S15_2" class="HideElement">
                                            <div id="S15_2_graphical" class="graphical_select radiobox"></div>
                                        </td>
                                        <td class="option_cell">
                                            <div class="options"><label for="S15_2">Coca-Cola</label></div>
                                        </td>
                                    </tr>
                                    <tr class="clickable">
                                        <td class="input_cell">
                                            <input name="S15" value="3" type="radio" id="S15_3" class="HideElement">
                                            <div id="S15_3_graphical" class="graphical_select radiobox"></div>
                                        </td>
                                        <td class="option_cell">
                                            <div class="options"><label for="S15_3">Dominos</label></div>
                                        </td>
                                    </tr>
                                    <tr class="clickable">
                                        <td class="input_cell">
                                            <input name="S15" value="4" type="radio" id="S15_4" class="HideElement">
                                            <div id="S15_4_graphical" class="graphical_select radiobox"></div>
                                        </td>
                                        <td class="option_cell">
                                            <div class="options"><label for="S15_4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </label></div>
                                        </td>
                                    </tr>
                                    <tr class="clickable">
                                        <td class="input_cell">
                                            <input name="S15" value="5" type="radio" id="S15_5" class="HideElement">
                                            <div id="S15_5_graphical" class="graphical_select radiobox"></div>
                                        </td>
                                        <td class="option_cell">
                                            <div class="options">
                                                <table class="other_specify_table">
                                                    <tr>
                                                        <td>
                                                            <label for="S15_5">Diğer(Lütfen hangi marka olduğunuz yazar mısın?)</label></td>
                                                        <td><input type="text" class="open_end_text_box text_input" name="S15_5_other" maxlength="100" id="S15_5_other"></td>
                                                    </tr>
                                                </table>
                                                <input type="hidden" name="hid_S15_5_other" value="1,100,"></div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <input type="hidden" name="hid_list_S15" value="1,2,3,4,5">
                </div>
            </div>

            <input type="hidden" name="hid_q_S15" value="S15">

            <input type="hidden" name="hid_prev_S15" value="5,S15,19,6a55c97e4f4561655c3d7b21e90520ef">


            <input type="hidden" name="hid_pagetime" value="1525046929">

            <div class="submit_div">
                <div id="previous">
                    <input type="submit" id="invisible_submit" value="Next" tabindex="-1" style="width: 0px; height: 0px; border: none; padding: 0px; font-size: 0px;">
                    <button name="sys_previous_button" id="previous_button" class="graphical_previous_button"></button></div>
                <div id="next">
                    <button name="sys_next_button" id="next_button" class="graphical_next_button"><div id="page_submit_msg" class="new_tooltip">Submit this page to apply the Test Options set above.</div></button></div>
            </div>
            <div class="progress_bar">
                <table class="progress_bar_table">
                    <tr>
                        <td class="left_cell">0%</td>
                        <td class="middle_cell">
                            <div class="progress_bar_outer">
                                <div class="progress_bar_inner" style="width: 55%"></div>
                            </div>
                        </td>
                        <td class="right_cell">100%</td>
                    </tr>
                </table>
            </div>


        </div>
    </form>
    <span id="preload_images"></span>
    <div id="submit_overlay">
        <div id="submit_progress_bar"><img src="ciwweb_files/grey_loading.gif" border="0" alt="Loading..."></div>
    </div>


    <!-- Implement Code -->
    <link rel="stylesheet" type="text/css" href="//unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/radio.css">
    <script src="//unpkg.com/jquery"></script>
    <script src="//unpkg.com/underscore"></script>
    <script src="//unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/radio.js"></script>
    <script>
        $('.question_body').radio();
    </script>


</body>

</html>