
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<!-- Sawtooth Software Web Interviewing System - SSI Web 8_4_8 -->
<!-- Copyright Sawtooth Software, Inc. 1998-2015 - www.sawtoothsoftware.com - USA - (801) 477-4700 -->

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="robots" content="noindex, nofollow">

<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<script type="text/javascript" src="ciwweb_files/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="ciwweb_files/jquery-ui-1.8.17.min.js"></script>
<script type="text/javascript" src="ciwweb_files/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="ciwweb_files/ssi_javascript8_4_8.js"></script>
<link rel="stylesheet" type="text/css" href="ciwweb_files/cupertino/jquery-ui-1.8.17.custom.css">
<link rel="stylesheet" type="text/css" href="/lib/textarea.css">

<link rel="stylesheet" type="text/css" href="ciwweb_files/ssi_style8_4_8.css">

</head>
<body>
<form name="mainform" onSubmit="SSI_SubmitMe(); return false;" method="post" action="ciwweb.pl?hid_s=Af8AAI_Ii1Wuegs9iU08wEKAl1UnAAAAv-S4YJdIOQq7fArsc7eneb79uWCcTTkMuX4Q8nasp3kWURLMN-OSpBA6Vbo08qdk">

<div class="page" id="page">
<input type="hidden" name="hid_backup" value="wizvr01,24,359227216,24,1">
<input type="hidden" name="hid_studyname" value="wizvr01">
<input type="hidden" name="hid_respnum" value="24,359227216">
<input type="hidden" name="hid_s" value="Af8AAI_Ii1Wuegs9iU08wEKAl1UnAAAAv-S4YJdIOQq7fArsc7eneb79uWCcTTkMuX4Q8nasp3kWURLMN-OSpBA6Vbo08qdk">
<input type="hidden" name="hid_pagenum" value="24">
<input type="hidden" name="hid_javascript" value="0">
<input type="hidden" name="hid_previous" value="0">
<div class="page_header">
<link rel="stylesheet" type="text/css" href="//unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://cdn.kurigo.com/laplaceresearch/ssi-ui-library/lib/radio.css">
<link rel="stylesheet" type="text/css" href="http://cdn.kurigo.com/laplaceresearch/ssi-ui-library/lib/checkbox.css">
<script src="//unpkg.com/jquery"></script>
<script src="//unpkg.com/underscore"></script>
<script src="//unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdn.kurigo.com/laplaceresearch/ssi-ui-library/lib/radio.js"></script>
<script type="text/javascript" src="http://cdn.kurigo.com/laplaceresearch/ssi-ui-library/lib/checkbox.js"></script>
<script src="//surveyjs.azureedge.net/1.0.18/survey.jquery.js"></script>
<link href="//surveyjs.azureedge.net/1.0.18/survey.css" type="text/css" rel="stylesheet"/>
<script src="http://cdn.kurigo.com/laplaceresearch/ssi-ui-library/lib/girdSingle.js"></script></div>
<div id="error_box" class="page_error error_messages HideElement"></div>
<div class="question openend" id="S18_div">
<div class="question_body indent">
<span class="question_text"><b>18.</b> Kullanmış olduğun Vodafone Freezone 5’te 5 / Gamer ek paketiyle ilgili en memnun olduğun şey nedir? </span><br>

    <div class="textarea-bubble">
        <textarea wrap="virtual" name="S18" id="S18" placeholder="Düşüncelerinizi buraya yazabilirsiniz."></textarea>
    </div>

</div>
</div>

<input type="hidden" name="hid_q_S18" value="S18">

<input type="hidden" name="hid_prev_S18" value="50,S18,24,cb9b022dcbba81944936b531c84a19d9">


<script type="text/javascript">
var GlobalQuestHash = 0;
var strGlobalError_max_char = "The response cannot contain more than [%ERRMAX()%] characters.  [%ERRTEXT()%]";
var strGlobalError_min_char = "The response must contain at least [%ERRMIN()%] characters.  [%ERRTEXT()%]";
var strGlobalError_missing = "A response is required.  [%ERRTEXT()%]";
var strGlobalError_page_error = "An error has occurred on this page.  Please fix this error and try again.";

var blnGlobalCommaForDecimal = false;
function SSI_Verify(){
SSI_InitializeErrors();
SSI_TxtCheck("S18","S18","", 1, 1, 3000);
SSI_RemoveErrors();
return SSI_ShowErrors();
}

</script>
<input type="hidden" name="hid_pagetime" value="1525272103">

<div class="submit_div">
<div id="previous">
<input type="submit" id="invisible_submit" value="Next" tabindex="-1" style="width: 0px; height: 0px; border: none; padding: 0px; font-size: 0px;">
<button name="sys_previous_button" id="previous_button" class="graphical_previous_button"></button></div>
<div id="next">
<button name="sys_next_button" id="next_button" class="graphical_next_button"><div id="page_submit_msg" class="new_tooltip">Submit this page to apply the Test Options set above.</div></button></div>
</div>
<div class="progress_bar">
<table class="progress_bar_table"><tr>
<td class="left_cell">0%</td><td class="middle_cell">
<div class="progress_bar_outer">
<div class="progress_bar_inner" style="width: 70%"></div></div>
</td><td class="right_cell">100%</td></tr></table></div><div class="page_footer">

</div>


<script type="text/javascript">
function SSI_Initialize(){
SSI_PageInitialize();
SSI_InitializeErrors();
SSI_GraphicalSubmitInitialize();
GlobalGraphicalSelect = true;
SSI_ClickableInitialize(true);
SSI_SetupToolTips();
}

jQuery(document).ready(function(){SSI_Initialize();});


</script>

</div>
</form>
<span id="preload_images"></span><div id="submit_overlay"><div id="submit_progress_bar"><img src="ciwweb_files/grey_loading.gif" border="0" alt="Loading..."></div></div></body>
</html>
